<h2>
    {{date}}
    {{hour}}
</h2>

<div class="col-md-10 mx-auto mt-0">
<div> 
  <hr>
  <h2> <p class="font-italic inline">Ordenes Pendientes</p></h2>  
  <hr>
</div>
  <table class="table table-light table-bordered table-hover overflow-y: hidden">
    <thead class="table-secondary">
      <tr>
        <th scope="col" class="text-center">Paciente</th>
        <th scope="col" class="text-center">Fecha</th>
        <th scope="col" class="text-center">Hora</th>
        <th scope="col" class="text-center">Observación</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>   
      {{#each ordersData}} 
        <tr>
          <th scope="row">{{name}} {{lastname}}</th>
          <td>{{date}}</td>
          <td>{{hour}}</td>
          <td>{{observation}}</td>
          <td class="d-flex align-items-center justify-content-center">
            <div class="mx-1"><a href="/orders/bookingForm/{{orderID}}"> <button class="btn btn-warning "> Agendar cita</a> </button> </div>
            <div class="mx-1"><a href="/results/form/{{orderID}}"> <button class="btn btn-success "> Agregar resultado</a> </button> </div>
          </td> 
        </tr>
      {{/each}}     
    </tbody>
  </table>
</div>
