<div class="col-md-8 mx-auto mt-0">
    <div class="card ">
        <div class="card-header text-center bg-secondary">            
            <h1 class="h4 text-white font-weight-bold">Mi perfil</h1>
        </div>
        <div class="card-body">

            <h5 class="font-weight-bold text-center mt-0 mb-1">Información personal</h5>
                <hr class="mt-0 mb-0">                        
                <div class="form-group row mb-0 mt-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Nombres y apellidos:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.name}} {{user.lastname}} {{user.sec_lastname}}</a>    
                    </div>                                         
                </div>  
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Tipo de Identificación:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.identification_type}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Identificación:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.identification}}</a>    
                    </div>                                         
                </div>                

                <h5 class="font-weight-bold text-center mt-0 mb-1">Información general</h5>
                <hr class="mt-0 mb-0 mt-0">
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Fecha de nacimiento:</label>                           
                    </div>                
                    <div>                                                                        
                        <a class="bg-light">{{user.date_of_bird}}  -  (AAAA/MM/DD)</a> 
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Genero:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.gender}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Tipo de sangre:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.blood_type}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Rh:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.rh}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Estado civil:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.marital_status}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">EPS:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.EPS}}</a>    
                    </div>                                         
                </div> 

                <h5 class="font-weight-bold text-center mt-0 mb-1">Datos de localización</h5>
                <hr class="mt-0 mb-0">
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Teléfono de la casa:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.home_phone}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Teléfono móvil:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.mobile_phone}}</a>    
                    </div>                                         
                </div>
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Teléfono del trabajo:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.work_phone}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Dirección:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.address}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Ciudad:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.city}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Departamento:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.department}}</a>    
                    </div>                                         
                </div>  

                <h5 class="font-weight-bold text-center mt-0 mb-1">Información de sesión</h5>
                <hr class="mt-0 mb-0">
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Correo electrónico:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.email}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Tipo de usuario:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.role}}</a>    
                    </div>                                         
                </div> 
                
                <h5 class="font-weight-bold text-center mt-0 mb-1">Información de contacto</h5>
                <hr class="mt-0 mb-0">
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Nombres y apellidos del contacto:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.contact_name}} {{user.contact_lastname}} {{user.contact_sec_lastname}}</a>    
                    </div>                                         
                </div>                
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Relación o parentesco:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.contact_relationship}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Teléfono:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.contact_phone}}</a>    
                    </div>                                         
                </div>                  


                <div class="col-md-4 mx-auto">                  
                    <a href="/users/started "><button class="btn btn-primary btn-block">Aceptar</button></a>
                </div>
                
                     
        </div>
    </div>    
</div>

<br>
